.OverviewAggregate {
    align-self: flex-start;
    display:flex;
    flex-flow: row;
    height:100%;
}

.OverviewPaper {
    align-self: flex-start;
    display:flex;
    flex-flow: column;
}

.OverviewPlayerList {
    padding-left: 10px;
    padding-right:20px;
    padding-bottom: 0px;
    display: block;
    overflow:auto;
    max-Height: 600px;
    flex: 1 1 auto;
}